{% extends "base.html" %}
{% block body %}
  <header class="hero is-fullheight is-bold is-light">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6 is-12-touch">
            <form class="box" method="post" action="{% url "login" %}">
              {% csrf_token %}
              <h1 class="title is-4">Login into Wharf</h1>
              <h2 class="subtitle is-6">Login using the admin credentials</h2>
              {% for error in form.non_field_errors %}
                <div class="notification is-error">
                  <p class="content"><b>Error</b>: {{ error|escape }}</p>
                </div>
              {% endfor %}
              <div class="notification is-info">
                <p class="content"><b>Note</b>: The default credentials are admin/password. These can be changed by
                  setting the ADMIN_LOGIN and ADMIN_PASSWORD environment variables (using <code>dokku
                    config:set</code>).</p>
              </div>
              <div class="field{% if form.username.errors %} is-danger{% endif %}">
                <label for="{{ form.username.id_for_label }}" class="label">Username</label>
                <div class="control">
                  <input id="{{ form.username.id_for_label }}" name="{{ form.username.name }}"
                         type="text"
                         class="input">
                </div>
                {% if form.username.errors %}
                  <p class="help">{{ form.username.errors|join:"<br/>" }}</p>
                {% endif %}
              </div>
              <div class="field{% if form.password.errors %} is-danger{% endif %}">
                <label for="{{ form.password.id_for_label }}" class="label">Password</label>
                <div class="control">
                  <input id="{{ form.password.id_for_label }}" name="{{ form.password.name }}"
                         type="text"
                         class="input">
                </div>
                {% if form.password.errors %}
                  <p class="help">{{ form.password.errors|join:"<br/>" }}</p>
                {% endif %}
              </div>
              <div class="field">
                <div class="control"><input type="submit" value="Submit" class="button is-primary"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>


{% endblock %}
